*.DS_Store

# material
material/cropped/*pdf

# Lilypond
script/lilypond/*midi
script/lilypond/*pdf

# Max
script/Max/data
script/Max/midi

# R
*.Rhistory
script/R/raw_data/
script/R/filtered/

# my local folders
material/lilypond/david
script/Max/docs
script/Max/backup