#General
.DS_Store
others/

# R
script/R/analysis/
script/R/plot/
script/R/processed/
script/R/raw_data/
script/R/.Rhistory
script/R/.DS_Store

# Rmd
script/Rmd/.Rhistory
script/Rmd/instruction.html

# Max
script/Max/data/
script/Max/midi/
script/Max/cond/cb_checking.xlsx

# python Jupyter notebook
script/jupyter/.ipynb_checkpoints/image_generator-checkpoint.ipynb
script/jupyter/stimuli/removed/

# lilypond
script/lilypond/removed/